<div class="roadmap-container">
    <h1 class="title mat-display-3">The Roadmap</h1>
    <div class="inpts">
        <div class="agile">
            <h2 class="mat-display-1">Methodology</h2>
            <p>Agile Scrum is going to be used as a software delivery methodology, with 2 week sprints, and retrospective, refinement and planning ceremonies in each sprint. Daily stand-ups are going to be held with specific stakeholders to the current task.</p>
        </div>
        <div class="pms">
            <h2 class="mat-display-1">PM</h2>
            <p>A Product Manager is needed to be assigned to overlook the roadmap and give support where the engineers' hands are tighed. Advised to have a PM present on daily stand-ups.</p>
        </div>
        <div class="ux">
            <h2 class="mat-display-1">UX</h2>
            <p>UX will be a crucial stakeholder in the project, in terms of design, functionality requirements and scope of the project. It is advised to have a representative present on daily stand-ups.</p>
        </div>
        <div class="devops">
            <h2 class="mat-display-1">DevOps</h2>
            <p>DevOps team is required for the release definition and ecosystem environment set up. Certain sprints will require a representative for refinements.</p>
        </div>
        <div class="dox">
            <h2 class="mat-display-1">DOX</h2>
            <p>DOX teams inputs are needed for documentation and language presented for the tool.</p>
        </div>
    </div>
    <img src="../../assets/imgs/roadmap.png" alt="roadmap">
</div>