.plan-container {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
    .title {
        z-index: 1;
        position: relative;
        h1 {
            text-align: center;
            color: white;
            padding: 1rem;
            margin: 0;
            margin-top: 1rem;
            z-index: 1;
        }
    }
    .sections {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        z-index: 1;
        .bus-req, .des-dec, .dev-dec {
            width: 26%;
            z-index: 1;
            background: #F8FAEB;
            border-radius: .5rem;
            box-shadow:
                /* The top layer shadow */
                0 -1px 1px rgba(0,0,0,0.15),
                /* The second layer */
                0 -10px 0 -5px #F8FAEB,
                /* The second layer shadow */
                0 -10px 1px -4px rgba(0,0,0,0.15),
                /* The third layer */
                0 -20px 0 -10px #F8FAEB,
                /* The third layer shadow */
                0 -20px 1px -9px rgba(0,0,0,0.15);
                /* Padding for demo purposes */
            padding: 0;
            .cont {
                width: 100%;
                font-size: 22px;
                -moz-box-shadow:    inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow:         inset 0 0 10px #000000;
                h4 {
                    margin-top: 0;
                    padding: 1rem;
                    text-align: center;
                    font-weight: 100;
                }
                .text {
                    padding: 20px;
                    margin: 0;
                }
                font-family: 'typewr', 'Courier New', Courier, monospace;
            }
        }
    }
    section {
        z-index: 0;
        width: 100vw;
        height: 90vh;
        position: absolute;
        top: 0;
        .separator {
            position: relative;
            width: 100vw;
            height: 100vh;
            // transform: rotateX(180deg);
          }
          
          .separator::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(4,41,92,1) 50%, rgba(0,102,204,1) 100%);
            clip-path: polygon(0 44%, 100% 57%, 100% 0, 0 0);
          }

          .separator::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0,102,204,1) 0%, rgba(103,205,1,1) 50%);
            clip-path: polygon(0 44%, 100% 57%, 100% 100%, 0 100%);
          }
    }
}