<div class="plan-container">
    <h1 class="mat-display-3">The plan</h1>
    <div class="sections">
        <div class="bus-req">
            <div class="cont">
                <h4 class="mat-display-1">Business Requirements</h4>
                <p class="text">
                    The tool needs to be a web-app that the compay can host within its organization's VPN.<br/><br/>
                    It needs to have an export functionality for all the files and modules required to render the page.<br/><br/>
                    The code needs to be adhering to code quality standards of the company.
                </p>
            </div>
        </div>
        <div class="des-dec">
            <div class="cont">
                <h4 class="mat-display-1">Design Decisions</h4>
                <p class="text">
                    The UX team needs a drag and drop feature for the components within a grid based placement (css-grids).<br/><br/>
                    As it is a design tool, the layout should follow common norms, in terms of tool placements (togglable side-menu).
                </p>
            </div>
        </div>
        <div class="dev-dec">
            <div class="cont">
                <h4 class="mat-display-1">Dev Decisions</h4>
                <p class="text">
                    The web-app will be delivered using Angular 10 on the front-end, and ASP.NET Core 3.1 in the back-end.<br/><br/>
                    For the drag and drop feature, the Dragula npm library will be used.<br/><br/>
                </p>
            </div> 
        </div>
    </div>
</div>
