<div class="cw-container">
    <div class="cards">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Craneware as a company</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/imgs/logo.png" alt="CW" >
            <mat-card-content>
                <p class="mat-body">
                    Craneware PLC is a Scottish software company based in Edinburgh, Glasgow and Atlanta (US). Craneware produced an impressive suite of software solutions to their name, specifically to tackle the problems of the US healthcare system. The company has created hands-on software for business professionals to automate a very niche industry’s huge revenue flow.
                </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Placement</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/imgs/experiences.jpg" alt="office">
            <mat-card-content>
              <p class="mat-body">
                I have spent 15 months on placement at Craneware. Throughout my time I have worked a great deal in the front-end, as the business was migrating 
                numerous products to a new common framework (Angular) where all the solutions can be accessed from a single place. I have mastered the framework in the first few months and created several global-components and solutions for common problems faced day-to-day by engineers.
                A close relationship with the rather small UX team was very eye opening to the problem this big project introduced.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Problem in development</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/imgs/tools.png" alt="Tool for devs" [ngStyle]="{width: '90%'}">
            <mat-card-content>
              <p class="mat-body">
                With the vast number of products the company offers, the maintaining of software products required many in-house engineers and outsourced companies.
                Many teams from all across the world, have produced these softwares for the company with little to none inconveniences caused by asymmetric information between the parties. 
                Maintaining the software of a handful of developers is much more manageable than of a couple hundred who, might have completed their contracts, and are not hands-on to support at a time when updates are necessary.
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    <section>
        <header></header>
        <div class="separator"></div>
        <footer></footer>
    </section>
</div>