.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    .bg-imgs {
        img {
            width: 110vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: -5vw;
        }
    }
    .title {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1, h2 {
            z-index: 6;
            margin-bottom: .5rem;
            font-weight: 100;
        }
        img {
            z-index: 6;
            width: 60vw;
        }
    }
    .bottom-strip {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        img {
            padding: .75rem;
            &:first-child {
                height: 3rem;
            }
            &:last-child {
                height: 8vh;
            }
        }
    }
}