<div class="container" #container id="container">
  <app-landing-view></app-landing-view>
  <div class="stepper" id="stepper">
    <span></span>
    <div class="step"[class.active]="sec.id === activeSection.id" *ngFor="let sec of sections" (click)="scroll(sec)">{{ sec.displayName }}</div>
  </div>
  <div class="views">
    <app-cw-view id="cw-view"></app-cw-view>
    <span></span>
    <app-problem-solution-view id="prob-sol-view"></app-problem-solution-view>
    <app-plan-view id="plan-view"></app-plan-view>
    <app-roadmap-view id="roadmap-view"></app-roadmap-view>
  </div>
</div>