<div class="container" #container id="container">
  <app-landing-view></app-landing-view>
  <div class="stepper" id="stepper">
    <div class="step"[class.active]="sec.selected" *ngFor="let sec of sections">{{ sec.displayName }}</div>
    <!-- <ul>
      <li [class.active]="sec.selected" *ngFor="let sec of sections">{{ sec.displayName }}</li>
    </ul> -->
  </div>
  <div class="views">
    <app-cw-view></app-cw-view>
    <app-problem-solution-view></app-problem-solution-view>
    <app-plan-view></app-plan-view>
  </div>
</div>