.container {
    overflow-x: hidden;
    background: #04295C;
    .layout {
        position: relative;
        display: flex;
        .stepper {
            li {
                color: white;
                margin-bottom: 1rem;
                cursor: pointer;
            }
        }
    
    }
}