<div class="prob-sol-container">
    <h1 class="title mat-display-1">Problem</h1>
    <h1 class="solution mat-display-1">Solution</h1>
    <div class="texts">
        <div class="center" matTooltip="Concept art by Soma F.">
            <img src="../../assets/imgs/wireframe-no-mac.jpg" alt="wire-frame">
        </div>
        <div class="problem-desc">
            As the new platform is under one hood, every 'product team' is working on
            the same repository, with varying
            levels of experience in the framework and/or web-development in general.<br/><br/>
            This introduces an inconsistent code-base 
            and becomes quite apparent when the software that is being produced, is of a web-application that
            involves design and user experience.<br/><br/>
            As mentioned earlier, the UX team is rather small and would require
            a lot more resources to overlook every aspect in the development of the new look in each of these
            seperate products.<br/><br/>
            It is crucial to keep the platform consistent and that it abides accessibility concerns, which is easy
            to overlook for a web-developer.
        </div>
        <div class="sol-desc">
            The UX team came up with a solution to maintain the platform UI with consistent code and design elements.<br/><br/>
            A tool for developers to place all the global components and implementations as building blocks to generate the TypeScript, Template and Design files
            for the pages under 1 module. <br/><br/>This tool would take care of the intricacies of setting up the tamplate and design, as those aspects most likely will differ 
            from engineer to engineer.<br/><br/> The tool would follow a grid-based approach and make use of the extensive global design choices made by UX, as well as give them the power to make changes to the overall design of the platform with little to none coding required.
        </div>
    </div>
    <section>
        <header></header>
        <div class="separator"></div>
        <footer></footer>
    </section>
</div>