<div class="prob-sol-container">
    <h1 class="title mat-display-1">Problem</h1>
    <h1 class="solution mat-display-1">Solution</h1>
    <div class="texts">
        <p class="mat-body problem-desc">
            As <br/>the new <br/>platform is <br/>under one hood,<br/> every 'product team' <br/>is working on the same <br/>repository, with varying 
            levels<br/> of experience in the framework <br/>and/or web-development in general. <br/>This introduces an inconsistent code-base <br/>
            and becomes quite apparent when the software that is being produced, is of a web-application that involves design and user experience.
            As mentioned earlier, the UX team is rather small and would require 
            a lot more resources to overlook every aspect in the development of the new look in each of these seperate products.
            It is crucial to keep the platform consistent and that it abides accessibility concerns, which is easy to overlook for a web-developer.
        </p>
        <p class="mat-body sol-desc">
            TBC
        </p>
    </div>
    <section>
        <header></header>
        <div class="separator"></div>
        <footer></footer>
    </section>
</div>