@font-face {
    font-family: typewr;
    src: url(assets/fonts/SpecialElite-Regular.ttf) format("truetype");
}


/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
}
html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tooltip {
    font-size: 23px !important;
}